html{
    background-color: burlywood;
    height:100%;
    width: 100%;
}

button{
    color: black;
    background-color: burlywood;
    text-align: center;
    font-weight: 900;
    font-size:20px;
    font-family: sans-serif;
    border-radius: 10px;
    border-style:solid;
    border-color: black;
    padding:10px;
}



#output{
    color:black;
    background-color:lightgray;
    text-align: right;
    font-size: 36px;
    font-weight: 900;
    font-family: sans-serif;
    padding-right:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 250px;
    border-style:solid;
   
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:95vh;
    width: 99vw;
    
    
}

#wrapper{
    padding: 35px;
    height:280px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: silver;
    border-radius:10px;
    border-style: solid;
    
}
#buttons{
    display: grid;
    grid-template-columns:repeat(4,2fr);
   
   gap:6px;
    
}

